<!doctype html>
<html lang="en">
<head>
    <!-- ============ head ============ -->
    <%- include ('./partials/head.ejs') %>
</head>
  <body>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg bg-light">
            <!-- ============ nav ============ -->
           <%- include ('./partials/nav.ejs') %>
        </nav><br><br><br><br>
        <div class="row">
            <div class="col-sm-4"><%=budget.month%> <%=budget.year%> </div>
            <div class="col-sm-8">
                <div class="btn-container">
                    <form class="" action="/<%=budget.id%>">
                        <button type="submit" class="btn btn-outline-primary">BACK</button>
                    </form>
                </div>
            </div>
        </div><br>
        <div class="new">
            <form action="/<%=budget.id%>?_method=PUT" method="POST">
                <div class="budgetContainer">
                    <h2>Income</h2>
                    <span class="input-group-text">Earnings</span>
                    <table class="table">
                        <tr>
                            <td width="90%">Income</td>
                            <td><input type="number" name="income" value="<%=budget.income%>"></td>
                        </tr>
                        <tr>
                            <td>Commissions</td>
                            <td><input type="number" name="commissions" value="<%=budget.commissions%>"></td>
                        </tr>
                        <tr>
                            <td>Bonus</td>
                            <td><input type="number" name="bonus" value="<%=budget.bonus%>"></td>
                        </tr>
                        <tr>
                            <td>Gifts</td>
                            <td><input type="number" name="gifts" value="<%=budget.gifts%>"></td>
                        </tr>
                        <tr>
                            <td>Other Income</td>
                            <td><input type="number" name="otherIncome" value="<%=budget.otherIncome%>"></td>
                        </tr>
                    </table> <br>
        
                    <h2>Expenses</h2>
                    <span class="input-group-text">Home Expenses</span>
                    <table class="table">
                        <tr>
                            <td width="90%">Mortgage</td>
                            <td><input type="number" name="mortgage" value="<%=budget.mortgage%>"></td>
                        </tr>
                        <tr>
                            <td>Rent</td>
                            <td><input type="number" name="rent" value="<%=budget.rent%>"></td>
                        </tr>
                        <tr>
                            <td>Utilities</td>
                            <td><input type="number" name="utilities" value="<%=budget.utilities%>"></td>
                        </tr>
                        <tr>
                            <td>Maintenance</td>
                            <td><input type="number" name="maintenance" value="<%=budget.maintenance%>"></td>
                        </tr>
                        <tr>
                            <td>Improvements</td>
                            <td><input type="number" name="improvements" value="<%=budget.improvements%>"></td>
                        </tr>
                        <tr>
                            <td>Other Home Expenses</td>
                            <td><input type="number" name="otherHome" value="<%=budget.otherHome%>"></td>
                        </tr>
                    </table> 
        
                    <span class="input-group-text">Livings Expenses</span>
                    <table class="table">
                        <tr>
                            <td width="90%">Groceries</td>
                            <td><input type="number" name="groceries" value="<%=budget.groceries%>"></td>
                        </tr>
                        <tr>
                            <td>Laundry</td>
                            <td><input type="number" name="laundry" value="<%=budget.laundry%>"></td>
                        </tr>
                        <tr>
                            <td>Medical Expenses</td>
                            <td><input type="number" name="medical" value="<%=budget.medical%>"></td>
                        </tr>
                        <tr>
                            <td>Other Living Expenses</td>
                            <td><input type="number" name="otherLiving" value="<%=budget.otherLiving%>"></td>
                        </tr>
                    </table>
        
                    <span class="input-group-text">Personal Expenses</span>
                    <table class="table">
                        <tr>
                            <td width="90%">Dining Out</td>
                            <td><input type="number" name="dining" value="<%=budget.dining%>"></td>
                        </tr>
                        <tr>
                            <td>Salon</td>
                            <td><input type="number" name="salon" value="<%=budget.salon%>"></td>
                        </tr>
                        <tr>
                            <td>Clothing</td>
                            <td><input type="number" name="clothing" value="<%=budget.clothing%>"></td>
                        </tr>
                        <tr>
                            <td>Events & Tickets</td>
                            <td><input type="number" name="events" value="<%=budget.events%>"></td>
                        </tr>
                        <tr>
                            <td>Vacation</td>
                            <td><input type="number" name="vacation" value="<%=budget.vacation%>"></td>
                        </tr>
                        <tr>
                            <td>Other Personal Expenses</td>
                            <td><input type="number" name="otherPersonal" value="<%=budget.otherPersonal%>"></td>
                        </tr>
                    </table> 
        
                    <span class="input-group-text">Technology Expenses</span>
                    <table class="table">
                        <tr>
                            <td width="90%">Phone bill</td>
                            <td><input type="number" name="phone" value="<%=budget.phone%>"></td>
                        </tr>
                        <tr>
                            <td>Wifi</td>
                            <td><input type="number" name="wifi" value="<%=budget.wifi%>"></td>
                        </tr>
                        <tr>
                            <td>Cable</td>
                            <td><input type="number" name="cable" value="<%=budget.cable%>"></td>
                        </tr>
                        <tr>
                            <td>Streaming</td>
                            <td><input type="number" name="streaming" value="<%=budget.streaming%>"></td>
                        </tr>
                        <tr>
                            <td>Other Tech Expenses</td>
                            <td><input type="number" name="otherTech" value="<%=budget.otherTech%>"></td>
                        </tr>
                    </table> 
        
                    <span class="input-group-text">Transportation Expenses</span>
                    <table class="table">
                        <tr>
                            <td width="90%">Car</td>
                            <td><input type="number" name="car" value="<%=budget.car%>"></td>
                        </tr>
                        <tr>
                            <td>Fuel</td>
                            <td><input type="number" name="fuel" value="<%=budget.fuel%>"></td>
                        </tr>
                        <tr>
                            <td>Public Transportation</td>
                            <td><input type="number" name="public" value="<%=budget.public%>"></td>
                        </tr>
                        <tr>
                            <td>Taxi, Uber, Lyft</td>
                            <td><input type="number" name="taxi" value="<%=budget.taxi%>"></td>
                        </tr>
                        <tr>
                            <td>Other Transportation Expenses</td>
                            <td><input type="number" name="otherTrans" value="<%=budget.otherTrans%>"></td>
                        </tr>
                    </table>
        
                    <span class="input-group-text">Health Expenses</span>
                    <table class="table">
                        <tr>
                            <td width="90%">Insurance</td>
                            <td><input type="number" name="insurance" value="<%=budget.insurance%>"></td>
                        </tr>
                        <tr>
                            <td>Pharmacy</td>
                            <td><input type="number" name="pharmacy" value="<%=budget.pharmacy%>"></td>
                        </tr>
                        <tr>
                            <td>Gym or Health Club Dues</td>
                            <td><input type="number" name="gym" value="<%=budget.gym%>"></td>
                        </tr>
                        <tr>
                            <td>Other Health Expenses</td>
                            <td><input type="number" name="otherHealth" value="<%=budget.otherHealth%>"></td>
                        </tr>
                    </table> 

                </div>

                <!-- submit updates -->
                <button type="submit" class="btn btn-outline-primary">UPDATE</button>

            </form>
        </div>

        <!-- ============ JS CDN ============ -->
        <%- include ('./partials/cdn.ejs') %>
    </div>
  </body>
</html>