<!doctype html>
<html lang="en">
<head>
    <!-- ============ head ============ -->
    <%- include ('./partials/head.ejs') %>
</head>
  <body>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg bg-light">
         <!-- ============ nav ============ -->
        <%- include ('./partials/nav.ejs') %>
        </nav><br><br>
        <div class="text-center">
            <img src="https://i.imgur.com/dD0Wtfi.jpeg" class="img-fluid" alt="...">
        </div>
        <div class="budgets">
            <% for (let i = 0; i < budgets.length; i++) { %>
                <div class="monthly">
                    <a href="/<%=budgets[i].id%>">
                        <h3><%=budgets[i].month%> <%=budgets[i].year%> </h3>
                    </a>
                </div>
            <% } %>
        </div>
        <!-- ============ JS CDN ============ -->
        <%- include ('./partials/cdn.ejs') %>
    </div>
  </body>
</html>