<!doctype html>
<html lang="en">
<head>
    <!-- ============ head ============ -->
    <%- include ('./partials/head.ejs') %>
</head>
  <body>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg bg-light">
            <!-- ============ nav ============ -->
           <%- include ('./partials/nav.ejs') %>
        </nav><br><br><br><br>
        <div class="row">
            <div class="col-sm-4"><%=budget.month%> <%=budget.year%> </div>
            <div class="col-sm-8">
                <div class="btn-container">
                    <form class="" action="/edit/<%=budget.id%>">
                        <button type="submit" >EDIT</button>
                    </form>
                </div>
            </div>
        </div><br>

        <div class="budgetContainer">
            <h2>Income</h2>
            <h3>Earnings</h3>
            <div class="income card">
            <table>
                <tr>
                    <td>Income</td>
                    <td><%=budget.income%></td>
                </tr>
                <tr>
                    <td>Commissions</td>
                    <td><%=budget.commissions%></td>
                </tr>
                <tr>
                    <td>Bonus</td>
                    <td><%=budget.bonus%></td>
                </tr>
                <tr>
                    <td>Gifts</td>
                    <td><%=budget.gifts%></td>
                </tr>
                <tr>
                    <td>Other Income</td>
                    <td><%=budget.otherIncome%></td>
                </tr>
            </table>
            </div> <br> <br>

            <h2>Expenses</h2>
            <h3>Home Expenses</h3>
            <div class="exp card">
            <table>
                <tr>
                    <td>Mortgage</td>
                    <td><%=budget.mortgage%></td>
                </tr>
                <tr>
                    <td>Rent</td>
                    <td><%=budget.rent%></td>
                </tr>
                <tr>
                    <td>Utilities</td>
                    <td><%=budget.utilities%></td>
                </tr>
                <tr>
                    <td>Maintenance</td>
                    <td><%=budget.maintenance%></td>
                </tr>
                <tr>
                    <td>Improvements</td>
                    <td><%=budget.improvements%></td>
                </tr>
                <tr>
                    <td>Other Home Expenses</td>
                    <td><%=budget.otherHome%></td>
                </tr>
            </table>
            </div><br>

            <h3>Living Expenses</h3>
            <div class="exp card">
            <table>
                <tr>
                    <td>Groceries</td>
                    <td><%=budget.groceries%></td>
                </tr>
                <tr>
                    <td>Laundry</td>
                    <td><%=budget.laundry%></td>
                </tr>
                <tr>
                    <td>Medical Expenses</td>
                    <td><%=budget.medical%></td>
                </tr>
                <tr>
                    <td>Other Living Expenses</td>
                    <td><%=budget.otherLiving%></td>
                </tr>
            </table>
            </div><br>

            <h3>Personal Expenses</h3>
            <div class="exp card">
            <table>
                <tr>
                    <td>Dining Out</td>
                    <td><%=budget.dining%></td>
                </tr>
                <tr>
                    <td>Salon</td>
                    <td><%=budget.salon%></td>
                </tr>
                <tr>
                    <td>Clothing</td>
                    <td><%=budget.clothing%></td>
                </tr>
                <tr>
                    <td>Events & Tickets</td>
                    <td><%=budget.events%></td>
                </tr>
                <tr>
                    <td>Vacation</td>
                    <td><%=budget.vacation%></td>
                </tr>
                <tr>
                    <td>Other Personal Expenses</td>
                    <td><%=budget.otherPersonal%></td>
                </tr>
            </table>
            </div><br>

            <h3>Technology Expenses</h3>
            <div class="exp card">
            <table>
                <tr>
                    <td>Phone bill</td>
                    <td><%=budget.phone%></td>
                </tr>
                <tr>
                    <td>Wifi</td>
                    <td><%=budget.wifi%></td>
                </tr>
                <tr>
                    <td>Cable</td>
                    <td><%=budget.cable%></td>
                </tr>
                <tr>
                    <td>Streaming</td>
                    <td><%=budget.streaming%></td>
                </tr>
                <tr>
                    <td>Other Tech Expenses</td>
                    <td><%=budget.otherTech%></td>
                </tr>
            </table>
            </div><br>

            <h3>Transportation Expenses</h3>
            <div class="exp card">
            <table>
                <tr>
                    <td>Car</td>
                    <td><%=budget.car%></td>
                </tr>
                <tr>
                    <td>Fuel</td>
                    <td><%=budget.fuel%></td>
                </tr>
                <tr>
                    <td>Public Transportation</td>
                    <td><%=budget.public%></td>
                </tr>
                <tr>
                    <td>Taxi, Uber, Lyft</td>
                    <td><%=budget.taxi%></td>
                </tr>
                <tr>
                    <td>Other Transportation Expenses</td>
                    <td><%=budget.otherTrans%></td>
                </tr>
            </table>
            </div><br>

            <h3>Health Expenses</h3>
            <div class="exp card">
            <table>
                <tr>
                    <td>Insurance</td>
                    <td><%=budget.insurance%></td>
                </tr>
                <tr>
                    <td>Pharmacy</td>
                    <td><%=budget.pharmacy%></td>
                </tr>
                <tr>
                    <td>Gym or Health Club Dues</td>
                    <td><%=budget.gym%></td>
                </tr>
                <tr>
                    <td>Other Health Expenses</td>
                    <td><%=budget.otherHealth%></td>
                </tr>
            </table>
            </div><br>
        </div>
        <div class="btn-container">
            <form action="/<%=budget.id%>?_method=DELETE" method="POST">
                <button type="submit">DELETE</button>
            </form>
        </div>
        <!-- ============ JS CDN ============ -->
        <%- include ('./partials/cdn.ejs') %>
    </div>
  </body>
</html>